.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 128px;
  padding: 6px;
  border: 1px solid #ffffff;
  border-radius: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  color: $secondaryTextColor;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    width: 150px;
  }
}

.btn.btn--current {
  border: 1px solid $hoverBtn;
  background-color: $hoverBtn;
}

.modal-content__right .btn {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 19px;
  }
  @media screen and (min-width: 1024px) {
    &:hover {
      box-shadow: 0px 8px 43px rgb(255 107 1 / 60%);
    }
  }
}

.btn.btn-modal {
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  &:focus {
    background-color: rgb(255, 107, 1);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 107, 1);
  }

  @media screen and (min-width: 768px) {
    width: 125px;
    margin: 0;
  }
  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}
