.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 128px;
  padding: 6px;
  border: 1px solid #ffffff;
  border-radius: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  color: $secondaryTextColor;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    width: 150px;
  }
}

.btn.btn--current {
  border: 1px solid $hoverBtn;
  background-color: $hoverBtn;
}

.btn.btn--current-modal {
  border: 1px solid #000000;
  background: #ffffff;
  color: #000000;
  margin-left: 15px;
}

.btn.btn-modal {
  width: 110px;

  @media screen and (min-width: 768px) {
    width: 125px;
  }
}
