.header {
  background-color: #000001;
  width: 100vw;
}

.header--bg-color {
    background-color: #040000;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  height: 215px;
  padding-top: 40px;
  padding-bottom: 90px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/mobi/Rectangle_mobi.jpg');
  background-size: cover;

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/tab/Rectangle_tab.jpg');
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/Rectangle.jpg');
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/mobi/Rectangle_mobi_2x.jpg');

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/tab/Rectangle_tab_2x.jpg');
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/Rectangle_2x.jpg');
    }
  }
}

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .header-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/mobi/Rectangle_mobi_3x.jpg');

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/tab/Rectangle_tab_3x.jpg');
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/Rectangle_3x.jpg');
    }
  }
}

.header-container.header-container--library {
    padding-bottom:  60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/mobi/Rectangle_watched_mobi.jpg');
  background-size: cover;


    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/tab/Rectangle_watched_tab.jpg');
    }

    @media screen and (min-width: 1024px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/Rectangle_watched.jpg');

    }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .header-container.header-container--library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/mobi/Rectangle_watched_mobi_2x.jpg');

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/tab/Rectangle_watched_tab_2x.jpg');
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/Rectangle_watched_2x.jpg');
    }
  }
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
    .header-container.header-container--library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/mobi/Rectangle_watched_mobi_2x.jpg');

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/tab/Rectangle_watched_tab_2x.jpg');
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/Rectangle_watched_2x.jpg');
    }
  }
  }

.wrapper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}

.header-logo {
 &:hover .text-logo, &:focus .text-logo  {
      color: $hoverBtn;
    }
  &:hover .icon-logo, &:focus .icon-logo  {
    stroke: $hoverBtn;
    transform: scale(1.3)
  }
}

.icon-logo {
  align-self: center;   
  fill: none;
  stroke: #818181;
  transition: stroke $animation;
  transition: transform $animation;
}

.text-logo {
  margin-left: 8px;
  font-weight: 500;
  font-size: 30px;
  line-height: calc(35 / 30);
  transition: color $animation;
  color: $secondaryTextColor;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  justify-content: flex-end;
}

.nav__item {
  position: relative;
  & + & {
    margin-left: 16px;

    @media screen and (min-width: 768px) {
        margin-left: 40px;
      }
  }
}

.nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;
  color: $secondaryTextColor;

  transition: color $animation;

  &:hover, &:focus  {
    color: $hoverBtn;
  }
}

.current-link::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
  background: $hoverBtn;
}

.search-form {
  position: relative;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 336px;
    margin: 0 auto;
  }
}

.search-form__input {
  color: $secondaryTextColor;
  width: inherit;
  padding: 4px 1px;
  background-color: transparent;
  border-bottom: #ffffff solid 0.5px;

  &::placeholder {
      color: $secondaryTextColor;
  }
}

.search-form__btn {
  position: absolute;
  right: 0;
  top: 20%;
  background-color: transparent;
}

.icon-search {
    stroke: #ffffff;
}

.btn-wrapper {
    display: flex;
    margin: 0 auto;
}

.header-btn.btn--current {
    margin-right: 20px;

    @media screen and (min-width: 768px) {
      margin-right: 32px;
    }
}
