.modal-profile__btn-open {
  display: inline-block;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;
}

.backdrop-profile {
  display: block;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.profile-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal-profile__container {
  display: inline-block;
  text-align: center;

  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 20px 30px;

  width: 95%;
  height: auto;

  @media screen and (min-width: 320px) {
    width: 290px;
  }

  @media screen and (min-width: 768px) {
    width: 500px;
  }
  overflow: hidden;
  overflow-y: auto;
}

.modal-profile__container::after {
  display: inline-block;
  position: absolute;

  bottom: 0;
  right: 0;

  content: '';
  width: 200px;
  height: 185px;
  background-image: url('../images/Merylin-mobile.png');

  @media screen and (min-width: 768px) {
    width: 350px;
    height: 323px;
    background-image: url('../images/Merylin.png');
  }

  background-repeat: no-repeat;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.merylin.modal-profile__container::after {
  transform: translateX(0);
}

.modal-profile__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(20 / 18);
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: calc(20 / 24);
  }
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.modal-profile__form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
  & input {
    width: 230px;
    @media screen and (min-width: 768px) {
      width: 400px;
    }

    height: 42px;
    border: #000 solid 0.5px;
    border-radius: 5px;
    padding: 0 10px;
    font: inherit;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border-color: $hoverBtn;
      outline: none;
    }
  }
  & button {
    width: 142px;
    height: 42px;
    border: #000 solid 0.5px;
    border-radius: 5px;

    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $hoverBtn;
      color: white;
      border-color: $hoverBtn;
    }
  }
}

.modal-profile__form-btn {
  display: inline-block;
}

.modal-profile__form label {
  margin-bottom: 20px;
}

.modal-profile__label-text {
  text-align: left;
}

.modal-profile__text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14);
  margin-bottom: 10px;
}

.modal-profile__btn-close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover .modal-profile__icon-cross {
    fill: $hoverBtn;
  }
}

.modal-profile__icon-cross {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: black;
}

.modal-profile__socials-container {
  display: inline-block;
  width: 80%;
}

.modal-profile__btn-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * 15px);

  @media screen and (min-width: 768px) {
    margin-left: calc(-1 * 15px);
  }
  margin-bottom: 20px;
}

.modal-profile__btn-item {
  flex-basis: 100%;
  margin-top: 15px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 1 * 15px);
    margin-left: 15px;
  }
}

.modal-profile__btn-socials {
  padding: 5px 0;
  width: 148px;
  height: 42px;
  border: #000 solid 0.5px;
  border-radius: 5px;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);

  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: $hoverBtn;
    color: white;
    border-color: $hoverBtn;
  }
}

.modal-profile__hidden {
  display: none;
}

.modal-profile__disabled-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.mrg {
  margin-bottom: 20px;
}
