.backdrop--team {
  position: fixed;
  display: flex;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  justify-content: center;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  padding: 10px;
  overflow-y: scroll;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.modal-team {
  background-color: rgb(54, 54, 54);
  min-height: 450px;
  width: 350px;
  overflow: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 15px 10px 20px 10px;
  scroll-behavior: smooth;
  @media screen and (min-width: 768px) {
    width: 700px;
  }
  @media screen and (min-width: 1024px) {
    width: 900px;
  }
  z-index: 200;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.cross {
  background-color: transparent;
  border: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
  &-svg {
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover &-svg {
    // stroke: rgb(121, 121, 122);
    stroke: $hoverBtn;
  }
}

.team-title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.our-team {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.our-team__item {
  flex-basis: calc((100% - 20px) / 2);
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  &:not(:nth-child(2n)) {
    margin-right: 20px;
  }
  &:nth-last-child(1) {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    flex-basis: calc((100% - 60px) / 3);
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 20px;
    }
    &:not(:nth-child(2n)) {
      margin-right: 0;
    }
    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 80px) / 4);
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 20px;
    }
    &:not(:nth-child(2n)) {
      margin-right: 0;
    }
    &:not(:nth-child(4n)) {
      margin-right: 20px;
    }
  }
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);

  // &:hover{
  //     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.492), 0px 1px 1px rgba(0, 0, 0, 0.684), 0px 2px 1px rgba(0, 0, 0, 0.481);
  // }
}

.team-img__item {
  border-top-right-radius: 3%;
  border-top-left-radius: 3%;
}

.item__bottom-info {
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: #63636380;
  @media screen and (min-width: 1024px) {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.item__name {
  text-align: center;
  color: aliceblue;
  font-size: 17px;
  line-height: 1.1875;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 7px;
}

.team-img__link {
  display: block;
  text-align: center;
  color: rgb(251, 185, 163);
  font-size: 12px;
  line-height: 1.28875;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: 'Poppins', sans-serif;
  &:hover {
    color: rgba(238, 129, 45, 0.608);
  }
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 7px;
}

.item__role {
  text-align: center;
  color: aliceblue;
  font-size: 15px;
  line-height: 1.28875;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: 'Poppins', sans-serif;
}

.cross-svg {
  stroke: #ffffff;
  // transition: stroke 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
