// -------ТЕКСТ-------

// Цвет текста
$primaryTextColor: #000000;
$secondaryTextColor: #FFFFFF;
// Акцентированый цвет в модалке
$accentColor: #8C8C8C;;

// -------ХОВЕР КНОПОК-------

// Цвета Ховера кнопки
$hoverBtn: #FF6B01;
// Цвета Ховера прозрачной кнопки
$secondaryhoverBtn: rgba(0, 0, 0, 0.56);;

// -------ФОН-------

// Фон Героя
$pinkbgСolor: #E5E5E5;
// Цвет фона модального окна
$modalFone: #FFFFFF;
// Цвет фона футера
$footerfone: #F7F7F7;

// -------ТЕНИ-------

// -------АНИМАЦИЯ-------
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
:root {
    --page-bg-color: #5e5e63;
    --container-bg-color: #ffffff;
    --primary-text-color: #212121;
    --card-set-gap: 16px;
    --card-set-gap-top: 32px;
    --card-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.098),
        0px 1px 1px -1px rgba(0, 0, 0, 0.062), 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
    --animate-duration: 300;
}