<div class="container">
  <h1 class="page-title"></h1>

  <ul class="card-set">
    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-1.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-2.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-3.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-4.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-5.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-7.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-8.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-1.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-2.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-3.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-4.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-5.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-7.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-8.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-1.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-2.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>
  </ul>
</div>
<a href="#" id="toTop">
  <span class="arrow_top"><svg
      class="svg-inline--fa fa-angles-up fa-beat-fade"
      aria-hidden="true"
      focusable="false"
      data-prefix="fas"
      data-icon="angles-up"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 384 512"
      data-fa-i2svg=""
    >
      <path
        fill="currentColor"
        d="M54.63 246.6L192 109.3l137.4 137.4C335.6 252.9 343.8 256 352 256s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25l-160-160c-12.5-12.5-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25S42.13 259.1 54.63 246.6zM214.6 233.4c-12.5-12.5-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25s32.75 12.5 45.25 0L192 301.3l137.4 137.4C335.6 444.9 343.8 448 352 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L214.6 233.4z"
      ></path></svg
  ></span>
</a>
