<div class="container header-container">
  <div class="wrapper-nav">
    <a href="./index.html" class="header-logo">
      <svg class="icon-logo" width="24" height="24">
        <use href="./images/sprite.svg#icon-film"></use>
      </svg>
      <span class="text-logo"> Filmoteka </span>
    </a>

    <nav>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link current-link" href="" id="header-home">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="" id="header-myLibrary">my library</a>
        </li>
        <li class="nav__item" modal-profile-open>
          <a class="nav__link" id='profile' href="">Profile</a>
        </li>
      </ul>
    </nav>
  </div>

  <form class="search-form" id="search-form">
    <input
      class="search-form__input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Movie search"
    />
    <button class="search-form__btn" type="submit">
      <svg class="icon-search" width="12" height="12">
        <use href="./images/sprite.svg#icon-search"></use>
      </svg>
    </button>
  </form>
</div>
