<div class="backdrop modal-window--hidden" data-modal>
  <div class="modal-window">
    <button type="button" class="modal__close-button">
      <svg width="30" height="30" class="modal__close-button-svg">
        <use href="./images/sprite1.svg#icon-close"></use>
      </svg>
    </button>
    <div data-act="create">
      <!-- <div class="modal-content">
        <div class="modal-content__left">
          <img src="./images/Rectangle 18.jpg" alt="" />
        </div>
        <div class="modal-content__right">
          <h2 class="modal-content__film-title primary-text--black">a fistful of lead</h2>
          <table class="modal-content__main-table">
            <tbody>
              <tr>
                <td><p class="modal-content__primary-text primary-text--grey">Vote / Votes</p></td>
                <td>
                  <p class="modal-content__primary-text primary-text--black">
                    <span class="modal-content__vote">7.3</span
                    ><span class="modal-content__space"> / </span>1260
                  </p>
                </td>
              </tr>
              <tr>
                <td><p class="modal-content__primary-text primary-text--grey">Popularity</p></td>
                <td><p class="modal-content__primary-text primary-text--black">100.2</p></td>
              </tr>
              <tr>
                <td>
                  <p class="modal-content__primary-text primary-text--grey">Original Title</p>
                </td>
                <td>
                  <p
                    class="modal-content__primary-text modal-content__original-title primary-text--black"
                  >
                    a fistful of lead
                  </p>
                </td>
              </tr>
              <tr>
                <td><p class="modal-content__primary-text primary-text--grey">Genre</p></td>
                <td><p class="modal-content__primary-text">Western</p></td>
              </tr>
            </tbody>
          </table>
          <div class="modal-content__about-container">
            <p class="modal-content__about-title modal-content__primary-text">about</p>
            <p class="modal-content__primary-text primary-text--black modal-content__about-text-lh">
              Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from
              the most corrupt settlement of the gold rush towns. But not all goes to plan one is
              killed and the other three escapes with bags of gold hide out in the abandoned gold
              mine where they happen across another gang of three – who themselves were planning to
              hit the very same bank! As tensions rise, things go from bad to worse as they realise
              the bags of gold are filled with lead... they’ve been double crossed – but by who and
              how?
            </p>
          </div>
          <div class="modal-content__container-btn">
            <button type="button" class="btn btn--current">ADD TO WATCHED</button>
            <button type="button" class="btn btn--current-modal">ADD TO QUEUE</button>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
