<div class="backdrop--team is-hidden" data-modal-backdrop>
    <div class="modal-team">
        <button type="button" class="cross">
            <svg width="30" height="30" class="cross-svg">
              <use href="./images/sprite1.svg#icon-close"></use>
            </svg>
          </button>
        <h2 class="team-title"> Filmoteka by team №7</h2>
            <ul class="our-team">
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Dmitriy-1x-min.png 1x , /images/team/Dmitriy-2x-min.png 2x" media="(min-width: 1200px)">
                       <img src="/images/team/Dmitriy-1x-min.png" alt="Dmitryi" class="team-img__item">
                        <div class="item__bottom-info">
                            <h2 class="item__name">Dmitryi</h2>
                            <a href="https://github.com/vsdmitriy17" class="team-img__link">GitHub</a>
                            <p class="item__role">API</p>
                           
                        </div>
                        
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Vitaliy-1x-min.png 1x , /images/team/Vitaliy-2x-min.png 2x" media="(min-width: 1200px)">
                        <img src="/images/team/Vitaliy-1x-min.png" alt="Vitaliy" class="team-img__item">
                        <div class="item__bottom-info">
                            <h2 class="item__name">Vitaliy</h2>
                            <a href="https://github.com/vitasika" class="team-img__link">GitHub</a>
                            <p class="item__role">TeamLead</p>
                        </div>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Inna-1x-min.png 1x , /images/team/Inna-2x-min.png 2x" media="(min-width: 1200px)">
                        <img src="/images/team/Inna-1x-min.png" alt="Inna" class="team-img__item">
                        <div class="item__bottom-info">
                            <h2 class="item__name">Inna</h2>
                            <a href="https://github.com/Inna2609" class="team-img__link">GitHub</a>
                            <p class="item__role">Footer</p>
                        </div>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Anna-1x-min.png 1x , /images/team/Anna-2x-min.png 2x" media="(min-width: 1200px)">
                        <img src="/images/team/Anna-1x-min.png" alt="Anna" class="team-img__item">
                        <div class="item__bottom-info">
                            <h2 class="item__name">Anna</h2>
                            <a href="https://github.com/Markab-1" class="team-img__link">GitHub</a>
                            <p class="item__role">Registration</p>
                            
                        </div>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Mark-1x-min.png 1x , /images/team/Mark-2x-min.png 2x" media="(min-width: 1200px)">
                        <img src="/images/team/Mark-1x-min.png" alt="Mark" class="team-img__item">
                        <div class="item__bottom-info">
                            <h2 class="item__name">Mark</h2>
                            <a href="https://github.com/markyatsuk" class="team-img__link">GitHub</a>
                            <p class="item__role">Team modal</p>
                        </div>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Sofia-1x-min.png 1x , /images/team/Sofia-2x-min.png 2x" media="(min-width: 1200px)">
                        <img src="/images/team/Sofia-1x-min.png" alt="Sofia" class="team-img__item">
                        <div class="item__bottom-info">
                            <h2 class="item__name">Sofia</h2>
                            <a href="https://github.com/SofiiaKoshelieva" class="team-img__link">GitHub</a>
                            <p class="item__role">Pagination</p>
                            
                        </div>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Maks-1x-min.png 1x , /images/team/Maks-2x-min.png 2x" media="(min-width: 1200px)">
                        <img src="/images/team/Maks-1x-min.png" alt="Maks" class="team-img__item">
                        <div class="item__bottom-info">
                            <h2 class="item__name">Maks</h2>
                            <a href="https://github.com/Moscowalik" class="team-img__link">GitHub</a>
                            <p class="item__role">Firebase</p>
                            
                        </div>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Alexandr-1x-min.png 1x , /images/team/Alexandr-2x-min.png 2x" media="(min-width: 1200px)">
                        <img src="/images/team/Alexandr-1x-min.png" alt="Alexandr" class="team-img__item">
                        <div class="item__bottom-info">
                            <h2 class="item__name">Alexandr</h2>
                            <a href="https://github.com/AVKostin" class="team-img__link">GitHub</a>
                            <p class="item__role">Gallery</p>
                        </div>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Edward-1x-min.png 1x , /images/team/Edward-2x-min.png 2x" media="(min-width: 1200px)">
                        <img src="/images/team/Edward-1x-min.png" alt="Edward" class="team-img__item">
                        <div class="item__bottom-info">
                            <h2 class="item__name">Edward</h2>
                            <a href="https://github.com/eduard-ops" class="team-img__link">GitHub</a>
                            <p class="item__role">Modal</p>
                        </div>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Anton-1x-min.png 1x , /images/team/Anton-2x-min.png 2x" media="(min-width: 1200px)">
                    <img src="/images/team/Anton-1x-min.png" alt="Anton" class="team-img__item"></a>
                        <div class="item__bottom-info">
                            <h2 class="item__name">Anton</h2>
                            <a href="https://github.com/croixua" class="team-img__link">GitHub</a>
                            <p class="item__role">Header</p>
                            
                            
                        </div>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Heorhiy-2x-min.png 1x , /images/team/Heorhiy-2x-min.png 2x" media="(min-width: 1200px)">
                        <img src="/images/team/Heorhiy-1x-min.png" alt="Heorhiy" class="team-img__item"></a>
                        <div class="item__bottom-info">
                            <h2 class="item__name">Heorhiy</h2>
                            <a href="https://github.com/e4y6" class="team-img__link">GitHub</a>
                            <p class="item__role">Firebase</p>
                            
                        </div>
                    </picture>
                </li>
            </ul>
    </div>
</div>