// arrow ->
#toTop {
    position: fixed;
    display: inline-block;
    width: 55px;
    height: 55px;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    color: rgb(255, 0, 0);
    opacity: 0;
    visibility: hidden;
}

#toTop.show {
    opacity: 1;
    visibility: visible;
    right: calc(8%);
    bottom: calc(11%);

    animation: pulse 1s ease-in-out infinite;
}
